:root {
    --mich-blue: #00274C;
    --mich-maize: #FFCB05;
}

.fixed-top {
    height: 72px;
}

body {
    padding-top: 80px;
    background-color:#CAD2DA;
}

#main-container {
    min-height: 100vh;
    position: relative;
}

/* Navigation Bar Styling  */
.navbar {
    justify-content: space-between;
    background-color: var(--mich-blue);
}

.search-bar {
    border-radius: 6px;
    width: 30vw;
    border: 1px solid var(--mich-maize);
}

.pull-right {
    width: 35vw;
    display: flex;
    justify-content: end;
}

.h-menu-toggler, .h-menu-content {
    display: none;
}

.offcanvas-header {
    background-color: var(--mich-blue);
}

#offcanvasNavbarLabel, .offcanvas-header > .bi-person-circle {
    color: var(--mich-maize);
}

.navbar-nav > .nav-item {
    color: var(--mich-blue);
    font-size: 18px;
}

.navbar-body {
    display: flex;
}

.navbar-brand {
    width: 15vw;
}

/* Add something btn */
.add-sm-btn {
    color: #ffcb0b; 
    border: none !important;
}

.add-sm-btn:hover, .add-sm-btn:focus, .add-sm-btn:active {
    color: #ffcb0b !important;
    transform: scale(1.25);
    position:relative;
    z-index:5; 
    border: none !important;
}

/* Main Body Styling  */
.main-body {
    height: 100%;
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
}

/* Left Side Content Main Page */
.left-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}

.top-body-wrapper, .topic-wrapper {
    border: solid 1px #ccc;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 5px
}

.topic-wrapper {
    height: 100%;
    margin-bottom: 12px;
}

.title {
    color: var(--mich-maize)
}

.top-body-wrapper {
    background-color: var(--mich-blue);
}

.top-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-post {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 0;
}

.communities-dropdown {
    background-color: var(--mich-blue);
    color: var(--mich-maize);
    font-size: 18px;
    border: 1px solid var(--mich-maize);
}

.communities-dropdown:hover, .communities-dropdown:active, .communities-dropdown:focus {
    background-color: var(--mich-blue);
    color: var(--mich-maize) !important;
}

#community-dropdown-menu {
    background-color: var(--mich-blue);
    border: none !important;
}

#community-dropdown-menu li a {
    color: var(--mich-maize);
}

#community-dropdown-menu li a:hover {
    background-color: var(--mich-maize);
    color: var(--mich-blue);
}

.topic-title {
    text-align: center;
    background-color: var(--mich-blue);
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.post-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post {
    margin-bottom: 12px;
}

.bi-hand-thumbs-up, .bi-hand-thumbs-down, .bi-chat-left-text {
    font-size: 18px; 
    color: var(--mich-maize); 
    background-color: var(--mich-blue);
    border-radius: 5px;
    padding: 6px;
}

.comment-count, .like-count, .dislike-count {
    font-size: 13px;
}

small {
    font-size: 12px;
    padding: 3px;
}

/* Right Side Content Main Page */
.right-side {
    width: 400px;
    max-width: 40%;
}

.side-content {
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    padding: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.side-content-header {
    background-color: var(--mich-maize);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.side-content-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a:link,  a:visited, a:hover{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

/* Create Post  */
.create-post-wrapper {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.post-btns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.forum-options {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.submit-btn {
    float: right;
}

.form-group > input,  .form-group > textarea{
    margin-bottom: 12px;
}

/* Used when not logged in  */
.login {
    background: var(--mich-maize);
    margin: 2px;
}

.login:hover {
    background: #d3a708;
}

.signup {
    background: var(--mich-maize);
    margin: 2px;
}

.signup:hover {
    background: #d3a708;
}

#browse-mainbody {
    display: none;
    border: none;
}

/* Signup/Login Modals  */
.modal-body {
    padding: 0;
}

.input-field {
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.custom-file {
    margin-top: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}


#stickies-wrapper {
    display: flex;
    height: 100%;
    padding: 14px;
}

/* Template */
.sticky-note-title {
    height: 45%;
    width: 100%;
}

.sticky-note-info {
    height: 17%;
    font-style: italic;
    display: flex;
    justify-content: space-between;
}

.interactions {
    height: 20%;
    display: flex;
    flex-direction: row;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

small {
    font-size: 10px;
    display: block;
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.interaction-btn {
    display: flex;
    justify-content: space-evenly;
    width: 50px;
    border: none;
    margin-right: 5px;
}

.interaction-btn:hover {
    background-color: var(--mich-maize);
    color: var(--mich-blue);
}

h6 {
    display: block;
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    margin: 0;
    height: 100%;
}

p {
    font-family: 'Reenie Beanie';
    font-size: rem;
}

.sticky-notes, li {
    list-style:none;
}

.sticky-notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sticky-notes li .sticky-note {
    text-decoration: none;
    color:#000;
    background:#ffc;
    display:block;
    height: 12rem;
    width: 12rem;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
    border-radius: 1px;
}
  
.sticky-notes li:nth-child(even) .sticky-note {
    transform:rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
}

.sticky-notes li:nth-child(3n) .sticky-note {
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
}

.sticky-notes li:nth-child(5n) .sticky-note {
    transform:rotate(5deg);
    position:relative;
    top:-10px;
}
  
.sticky-notes li .sticky-note:hover,ul li .sticky-note:focus {
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
}
  
.sticky-notes li {
    margin:1em;
}

.sticky-note {
    text-align: left;
}


.top-btn {
    background-color: var(--mich-maize);
    padding: 7px;
    color: var(--mich-blue);
    border: none;
    margin-right: 5px;
    border-radius: 5px;
}


.img-wrapper {
    border: 1px solid #FFCB05;
    border-radius: 20px; 
}

#searchbar-dropdown {
    display: flex;
    justify-content: end;
    width: 50vw;
    margin: 0;
    padding: 0;
}

.navbar > .container, .navbar > .container-fluid {
    flex-wrap: nowrap;
}

hr {
    color: #000 !important;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.side-content-body {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Dropdown arrow color */
.navbar .dropdown-toggle:after {
    color: var(--mich-maize);
}

.dropdown-menu-end .nav-item .nav-link {
    color: var(--mich-blue) !important;
}

.dropdown-menu-end .nav-item .nav-link:hover, .dropdown-menu-end .nav-item .nav-link:focus, .dropdown-menu-end .nav-item .nav-link:active {
   background-color: rgb(237, 235, 235) !important;
}

.site-footer {
    position: absolute;
    left: 0;
    right: 0;
    width: 100vw;
}

.page-item .page-link:hover {
    color: var(--mich-blue);
}

.bi-arrows-angle-expand {
    cursor: pointer;
    padding: 3px;
    display: none;
}

.sticky-note:hover  .sticky-note-info .bi-arrows-angle-expand {
    display: flex;
}

#join-dropdown {
    display: none;
}



/* Responsive */
@media (max-width: 815px) {
    .right-side, .add-sm-btn, #navbar-browse {
        display: none !important;
    }
    .search-bar {
        width: 40vw;
    }

    #browse-mainbody {
        display: block;
    }

    .topic-title {
        justify-content: space-around;
    }

    #searchbar-dropdown, #searchbar-dropdown > .d-flex {
        display: flex;
        justify-content: end;
    }

    .pull-right {
        width: 50px;
    }
    .main-body {
        padding: 0;
    }

    .h-menu-toggler, .h-menu-content {
        display: unset;
    }

    .signup, .login {
        display: none;
    }

    #join-dropdown {
        display: block;
        font-size: 18px;
    }
}