body {
    padding-top: 80px;
    background-color: #DAE0E6;
}

/* Navigation Bar Styling  */
.navbar {
    justify-content: space-between;
    background-color: #002c5a;
}

.search-bar {
    border-radius: 100px;
    width: 40vw;
}

.pull-right {
    width: 20vw;
    justify-content: end;
}

.offcanvas-header {
    background-color: #002c5a;
}

#offcanvasNavbarLabel, .offcanvas-header > .bi-person-circle {
    color: #ffcb0b;
}

.navbar-nav > .nav-item {
    color: #002c5a;
    font-size: 18px;
}

.bi-plus {
    font-size: 30px;
    color: black;
    border: none;
    background: none;
}

/* Main Body Styling  */
.main-body {
    height: 88vh;
    display: flex;
}

/* Left Side Content  */
.left-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.create-post-wrapper, .topic-wrapper {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.create-post {
    display: flex;
    align-items: center;
}

.topic-title {
    text-align: center;
    background-color: #002c5a;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bi-hand-thumbs-up, .bi-hand-thumbs-down, .bi-chat-left-text {
    font-size: 22px; 
    color: #ffcb0b; 
    background-color: #002c5a;
    border-radius: 5px;
    padding: 6px;
}

.comment-count, .like-count, .dislike-count {
    font-size: 13px;
}

/* Right Side Content  */
.right-side {
    width: 500px;
}

.side-content {
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    padding: 10px;
}

.side-content-header {
    background-color: #ffcb0b;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

a:link,  a:visited, a:hover{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

/* Non-mainpage styling  */
.post-btns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.form-group {
    margin-bottom: 10px;
}

.forum-options {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.submit-btn {
    float: right;
}

.form-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightside-form {
    flex-grow: 4;
}

.profile-pic {
    margin-top: 25px;
}

.bi-person-circle {
    font-size: 30px;
    margin-right: 10px;
}

#createPostInput {
    width: 50vw;
    display: inline-flex;
    border-radius: 5px;
}

.login {
    background: #ffcb0b;
    margin: 2px;
}

.login:hover {
    background: #d3a708;
}

.signup {
    background: #ffcb0b;
    margin: 2px;
}

.signup:hover {
    background: #d3a708;
}
