:root {
    --mich-blue: #002c5a;
    --mich-yellow: #ffcb0b;
  }

body {
    padding-top: 80px;
    background-color: #e0e3e7;
}

/* Navigation Bar Styling  */
.navbar {
    justify-content: space-between;
    background-color: var(--mich-blue);
}

.search-bar {
    border-radius: 100px;
    width: 40vw;
}

.pull-right {
    width: 20vw;
    justify-content: end;
}

.h-menu-toggler, .h-menu-content {
    display: none;
}

.offcanvas-header {
    background-color: var(--mich-blue);
}

#offcanvasNavbarLabel, .offcanvas-header > .bi-person-circle {
    color: var(--mich-yellow);
}

.bi-person-circle {
    font-size: 30px;
    margin-right: 10px;
}

.navbar-nav > .nav-item {
    color: var(--mich-blue);
    font-size: 18px;
}

.bi-plus {
    font-size: 30px;
    color: black;
    border: none;
    background: none;
}

/* Main Body Styling  */
.main-body {
    height: 100%;
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
}

/* Left Side Content Main Page */
.left-side {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.create-post-wrapper, .topic-wrapper {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.create-post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic-title {
    text-align: center;
    background-color: var(--mich-blue);
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.post-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post {
    margin-bottom: 12px;
}

.bi-hand-thumbs-up, .bi-hand-thumbs-down, .bi-chat-left-text {
    font-size: 18px; 
    color: var(--mich-yellow); 
    background-color: var(--mich-blue);
    border-radius: 5px;
    padding: 6px;
}

.comment-count, .like-count, .dislike-count {
    font-size: 13px;
}

small {
    font-size: 13px;
}


.interactions {
    display: flex;
    flex-direction: row;
}

.interaction-btn {
    display: flex;
    justify-content: space-evenly;
    width: 50px;
    border: none;
    margin-right: 5px;
}

.interaction-btn:hover {
    background-color:#044488;
}


/* Right Side Content Main Page */
.right-side {
    width: 500px;
}

.side-content {
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    padding: 10px;
}

.side-content-header {
    background-color: var(--mich-yellow);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

a:link,  a:visited, a:hover{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

/* Create Post  */
#createPostInput {
    width: 50vw;
    display: inline-flex;
    border-radius: 5px;
}

.post-btns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.forum-options {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.submit-btn {
    float: right;
}

/* Used when not logged in  */
.login {
    background: var(--mich-yellow);
    margin: 2px;
}

.login:hover {
    background: #d3a708;
}

.signup {
    background: var(--mich-yellow);
    margin: 2px;
}

.signup:hover {
    background: #d3a708;
}

/* Responsive */
@media (max-width: 815px) {
    .right-side, .bi-plus {
        display: none;
    }
    .pull-right {
        width: 50px;
    }
    .main-body {
        padding: 0;
    }

    .h-menu-toggler, .h-menu-content {
        display: unset;
    }

    .signup, .login {
        display: none;
    }
}

/* Signup/Login Modals  */
.modal-body {
    padding: 0;
}

.input-field {
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.custom-file {
    margin-top: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}